[Unit]
Description=Gunicorn instance to serve a flask app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/HelloFlask
Environment="PATH=/home/ubuntu/HelloFlask/venv/bin"
ExecStart=/home/ubuntu/HelloFlask/venv/bin/gunicorn --workers 1 --reload --bind unix:helloflask.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target